.mainUNIT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
           .Signer {
            margin-top: 5px;
            padding: 5px;
            border-radius: 6px;
            border: none;
            background-color: #0524d4;
            color: white;
            font-size: 14px;
            cursor:pointer;
            width: 100px;

           }
           .buttonext {
                button {
                    margin-top: 5px;
            padding: 5px;
            border-radius: 6px;
            border: none;
            background-color: #0524d4;
            color: white;
            font-size: 14px;
            cursor:pointer;
                }
           }
}
.QR_attendy {
    font-size: 25px;
    color: #0197ee;
    margin-bottom: 5px;
}
.DescriptQR {
    font-size: 15px;
    color: #0524d4;
    margin-bottom: 15px;
    font-weight: bold;
}
