* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    
    background-color: #2e2e2e;

}
#NOTICE {
    
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
         width: 100%;
        height: 100vh;
}

.contains {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100vh;
    
    h1 {
            color: white;
            font-size: 65px;
        }

        button {
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: rgb(4, 64, 194);
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        .noticeP {
            color: #ffffff;
            font-size: 20px;

        }
.noticeP a {
            color:rgb(4, 64, 194);
            text-decoration:none;
}
}

/*This part is for the Screen size of an avarage Device for Android/IOS*/
.Main {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100vh;
    
    
    height: 100vh;
}
.aboutUnit {
    max-width: 500px;
    color: white;
    padding: 5px;
        h2 {
            font-size:25px;
        }
        p {
            font-size:15px ;
        }
}
.aboutUnit2 {
    width: 500px;
    padding: 5px;
}
.Unit {
    /*Screen size of the Unit (could be change depends on the screen size)*/
    min-width: 300px;
    min-height: 630px;
    max-width: 300px;
    max-height: 630px;
    border-radius: 20px;
    background-color: white;
    /*The app itself*/

}
/*For Screen sizes of each devices @Media*/
@media (max-width: 760px) {


}
