.containerFor-about {
  width: 100%;
  padding: 15px;
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .headerAbout {
    display: flex;
  }

  .about-container {
    background-color: aquamarine;
    padding: 30px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;

    p {
      font-weight: bold;
      font-size: 17.6px;
      text-align: center;
    }
  }

}