/*
QR Attendy base on Website and WebApp lol
Develop by BELDAD-Ace on Github with the team group 1 for PR2
aka Jhon Benedict Belad

all rights reserved 2025

*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(168deg, #000000 28%, #1F1F1F 69%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 300% 300%;
  animation: BackgroundANI 10s ease-in-out infinite;

}

/*Start navigation bar*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 3%;
    width: 90%;


    border-bottom: #ffffff 2px solid;
    color: white;

    .title {
      text-decoration: none;
      cursor: pointer;
    }
    transition: 0.5s;
  }

  nav.scrolled {
    background-color: rgba(0, 21, 95, 0.3);
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    backdrop-filter: blur(10px);

    box-shadow: 0 0 10px #ffffffa8;
    border-radius: 0px 0px 15px 15px;
  }

  .sidebar {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;

    cursor: pointer;

    a {
      text-decoration: none;
      padding: 5px;
      border-radius: 10px;
      transition: 0.5s;
      font-weight: bold;
      color: white;
    }

    :hover {
      color: #d9d9d9;

      background-color: #575757;
      transition: 0.3s;
    }

    img {
      vertical-align: middle;
      width: 28px;
      height: 28px;
    }
  }
}

/*End navigation bar*/

/*start Containers of the main page*/
main {
  padding: 100px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #sec1 {
      font-size: 40px;
      font-weight: bold;
      margin: 10px 0;

      span {
        text-shadow: 0 0 10px #00ffff80, 0 0 20px #00ffff8d, 0 0 20px #00ffff37;
        animation: sec1Span 10s infinite;
      }
    }

    #sec2,
    #sec3 {
      width: 350px;
      font-size: 20px;
      margin: 5px;
    }

    .botos {
      transition: all 0.3s ease-in-out;

      button {
        margin: 15px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        width: 165px;

        color: white;
        background-color: #0045496d;
        border: 2px solid #ffffff3e;
        border-radius: 10px;
        box-shadow: 0 0 10px #e8e8e880;
        transition: 0.3s;
        cursor: pointer;
      }

      button:hover {
        box-shadow: 0 0 20px #0000ffa1;
        border: 2px solid #000000a8;
        background-color: #000dff9a;
      }
    }

  }

  .info-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .aboutQR {
      display: flex;
      background-color: #001d8861;
      padding: 35px;
      width: 80%;
      text-align: left;

      border: 2px solid #ffffff3e;
      border-radius: 15px;

      .textQR {
        width: calc(80% - 2px);

        p {
          width: calc(100% - 20px);
          font-weight: 200;
          margin-bottom: 15px;
          font-size: 20px;
        }

        h2 {
          font-size: 28px;
          margin-bottom: 20px;

          span {
            font-weight: bold;
            font-size: 30px;
          }
        }

        button {
          margin: 5px;
          padding: 10px 15px;
          font-size: 16px;
          font-weight: bold;
          width: 165px;

          color: white;
          background-color: #0be400;
          border: 2px solid #ffffff3e;
          border-radius: 10px;
          box-shadow: 0 0 10px #e8e8e880;
          transition: 0.3s;
          cursor: pointer;
        }

        button:hover {
          box-shadow: 0 0 20px #ffffffec;
          border: 2px solid #000000a8;
          background-color: #00d70f;
        }

      }

      .box1 {
        width: 215px;
        height: 260px;
        background-color: #ffffff;
        border: 2px solid #ffffff3e;
        border-radius: 15px;
        box-shadow: 0 0 10px #e8e8e880;
        transition: 0.3s;
        margin-left: auto;
      }
    }
  }
}

footer {
  margin-top: 100px;
  padding: 20px;
  border-top: #ffffff 2px solid;
  color: white;
  display: flex;

  .foot1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;

    img {
      width: 100px;
      height: auto;
    }

    p {
      margin: 2px 0;
    }
  }


}