/*
QR Attendy base on Website and WebApp lol
Develop by BELDAD-Ace on Github with the team group 1 for PR2
aka Jhon Benedict Belad

all rights reserved 2025

*/


/*for sign up and sign in inputs*/
#dont {
  /*Dont touch this one*/
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.body-main {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;

}

.main-title {
  margin-top: 50px;
  padding: 35px;
  border-radius: 14px;
  /* border: 3px solid rgba(86, 84, 255, 0.35); */
  width: calc(55% - 150px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  color: white;

  h1 {
    font-size: 50px;
    font-weight: 800;
    text-shadow: 0 0 10px #00ffff80,
      0 0 20px #00ffff8d,
      0 0 20px #00ffff37;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: -5px;
  }

  button {
    display: none;
  }
}

.body-sign-in {
  display: block;
}

.body-sign-up {
  display: none;
}


.body-sign-in,
.body-sign-up {
  transition: all 0.3s ease-in-out;
  margin-top: 170px;
  background: #33333388;
  border-radius: 14px;
  padding: 18px;
  margin-right: calc(10% - 80px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  box-shadow: white 0px 0px 8px;
  color: #ffffff;
  width: 500px;
  height: 470px;
  font-weight: bold;

  h2 {
    font-size: 30px;
    margin-bottom: 8px;
    text-align: center;
  }

  .Sign-in-field,
  .Sign-up-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;


    label {
      font-weight: 700;
      font-size: 14px
    }

    .field-signer {
      border-radius: 15px;
      padding: 5px 7px;
      border: 2px solid rgb(255, 255, 255);
      outline: none;
      background-color: white;
      min-height: 30px;
      font-size: 14px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
    }
  }

  .choiceButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Sign-up-choice-button {
      width: 20px;
      display: flex;
      flex-direction: column;


      .student,
      .teacher {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 5px 0px;

        label {
          margin-left: 3px;
          font-size: 17px;
        }
      }


    }
  }

  .button-signer {
    margin-left: auto;
    padding: 10px 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: #ffffff 0px 0px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
}

@media (max-width:1024px) {
  .body-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;

  }

  .main-title {
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
    width: 100%;
    border-radius: 14px;
    /* border: 3px solid rgba(86, 84, 255, 0.35); */
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
    color: white;

    h1 {
      font-size: 50px;
      font-weight: 800;
      text-shadow: 0 0 10px #00ffff80,
        0 0 20px #00ffff8d,
        0 0 20px #00ffff37;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-top: -5px;
    }
  }

  .body-sign-in {
    display: block;
  }

  .body-sign-up {
    display: none;
  }

  .body-sign-in,
  .body-sign-up {
    margin-top: 0;
  }
}

/* FOR MOBILE VERSION */
.body-mainMOBILE {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

.main-titleMOBILE {
  margin-top: 50px;
  padding: 35px;
  border-radius: 14px;
  /* border: 3px solid rgba(86, 84, 255, 0.35); */
  width: 380px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  background: rgba(255, 255, 255, 0.02);

  h1 {
    font-size: 35px;
    font-weight: 800
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: -10px;
  }

  button {
    color: white;
    background-color: #0cc0df;
    border: 2px solid #0097b2;
    border-radius: 1.5px;
    padding: 5.5px;
    width: 150px;
    cursor: pointer;
  }
}

.body-sign-inMOBILE,
.body-sign-upMOBILE {

  background: #0cc0df;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  color: #022;
  width: 220px;
  font-weight: bold;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .Sign-in-field,
  .Sign-up-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;


    label {
      font-weight: 700;
      font-size: 14px;
    }

    .field-signer {
      border-radius: 11px;
      padding: 0px 7px;
      border: 2px solid rgb(0, 0, 0);
      outline: none;
      background: white;
      min-height: 22px;
      font-size: 10px;
    }
  }

  .choiceButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Sign-up-choice-button {
      width: 20px;
      display: flex;
      flex-direction: column;


      .student,
      .teacher {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 2px 0px;
      }


    }
  }

  .button-signer {
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.18);
    font-weight: 700;
    cursor: pointer;
  }
}

/* Gusto ko siya kausapen :(( */