/*
QR Attendy base on Website and WebApp lol
Develop by BELDAD-Ace on Github with the team group 1 for PR2
aka Jhon Benedict Belad

all rights reserved 2025

*/


/*for sign up and sign in inputs*/
#dont {
  /*Dont touch this one*/
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.body-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 100%;
  max-width: 100%;
}

.main-title {
  margin-top: 50px;
  padding: 35px;
  border-radius: 14px;
  /* border: 3px solid rgba(86, 84, 255, 0.35); */
  width: 380px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  background: rgba(255, 255, 255, 0.02);

  h1 {
    font-size: 46px;
    font-weight: 800
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: -5px
  }

  button {
    display: none;
  }
}

.body-sign-in {
  display: block;
  height: 318px;
}

.body-sign-up {
  display: none;
}


.body-sign-in,
.body-sign-up {

  background: #0cc0df;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  color: #022;
  width: 220px;
  font-weight: bold;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .Sign-in-field,
  .Sign-up-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;


    label {
      font-weight: 700;
      font-size: 14px
    }

    .field-signer {
      border-radius: 11px;
      padding: 0px 7px;
      border: 2px solid rgb(0, 0, 0);
      outline: none;
      background: white;
      min-height: 22px;
      font-size: 10px;
    }
  }

  .choiceButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Sign-up-choice-button {
      width: 20px;
      display: flex;
      flex-direction: column;


      .student,
      .teacher {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 2px 0px;
      }


    }
  }

  .button-signer {
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.18);
    font-weight: 700;
    cursor: pointer;
  }
}

@media (max-width:663px) {
  .body-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

.main-title {
        /* margin-top: -50px; */
        padding: 0px;
        
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
  

  h1 {
    font-size: 46px;
    font-weight: 800
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: -5px
  }

  button {
    display: none;
  }
  img {
    display: none;
  }
}

}

/* FOR MOBILE VERSION */
.body-mainMOBILE {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

.main-titleMOBILE {
  margin-top: 50px;
  padding: 35px;
  border-radius: 14px;
  /* border: 3px solid rgba(86, 84, 255, 0.35); */
  width: 380px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  background: rgba(255, 255, 255, 0.02);

  h1 {
    font-size: 35px;
    font-weight: 800
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: -10px
  }

  button {
    color: white;
    background-color: #0cc0df;
    border: 2px solid #0097b2;
    border-radius: 1.5px;
    padding: 5.5px;
    width: 150px;
    cursor: pointer;
  }
}

.body-sign-inMOBILE,
.body-sign-upMOBILE {

  background: #0cc0df;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  color: #022;
  width: 220px;
  font-weight: bold;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .Sign-in-field,
  .Sign-up-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;


    label {
      font-weight: 700;
      font-size: 14px
    }

    .field-signer {
      border-radius: 11px;
      padding: 0px 7px;
      border: 2px solid rgb(0, 0, 0);
      outline: none;
      background: white;
      min-height: 22px;
      font-size: 10px;
    }
  }

  .choiceButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Sign-up-choice-button {
      width: 20px;
      display: flex;
      flex-direction: column;


      .student,
      .teacher {
        display: flex;
        flex-direction: row;
        padding: 0px 0px 2px 0px;
      }


    }
  }

  .button-signer {
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.18);
    font-weight: 700;
    cursor: pointer;
  }
}
