.signUp-Container{
    display:none; /*Change display to block if javascript execute the function*/

}
.signIn-Container {
    display:none; /*Change display to none if javascript execute the function*/
}

